<div class="contain">
    <div class="img">
        <img src="assets/image.png" alt="">
    </div>
    <div class="info">
        <h1 style="margin-bottom:10px;">Welcome!</h1>
        <p style="margin-right:130px;padding-bottom:2px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse doloremque voluptate vitae expedita recusandae maiores doloribus autem impedit dolore ab nisi exercitationem quasi voluptates quidem, optio incidunt voluptatem asperiores repudiandae. Dignissimos libero ad placeat atque quod nemo, eum alias dolore sapiente harum molestiae at, dolorum aut in laudantium sint, quibusdam adipisci? Autem doloremque numquam, dolore, nihil voluptatibus quaerat error nam pariatur sequi obcaecati illo laudantium eum eveniet ipsum quidem quos!</p>
    </div>
</div>